:root {
  --borders: 0.5rem;
  --bg: #171c38;
  --bg01: #171f55;
  --accent: #facd60;
  --section-margin-pattern: 1rem auto 1rem auto;
  --padding-list: 1.5rem;  
  --code-color: #ccffcc;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: var(--bg);
  color: #eee;
  font-size: 1.8rem;
}

header.header-main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg01);
  border-radius: var(--borders);
  border-bottom: .3rem solid #efe;
}

header.header-main > h1 {
  margin: 1rem auto
}

header.header-main > p {
  margin: 1rem;
}

header.header-main a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  opacity: .85;
}

a:active {
  opacity: .55;
}
/* 
hr {
  border: .3rem solid #efe;
  border-left: 0;
  border-right: 0;
  width: 90%;
  margin: 0 auto;
  border-radius: var(--borders);
} */

section.section-content {
  background-color: var(--bg01);
  border-radius: var(--borders);
  margin: var(--section-margin-pattern);
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: .3rem solid #efe;
}

section.section-content .list-items {
  margin: 1rem;
}

.secondary-header {
  margin: 0 auto;
  text-align: center;
}

.secondary-header p {
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

section h2 {
  text-align: center;
}

ul.list {
  padding-left: var(--padding-list)
}

li.list-items {
  list-style-type: "\2023";
  padding-inline-start: .5rem; 
} 


code.git-command {
  display: inline-block;
  text-indent: 5rem;
  margin: 1rem auto;
  color: var(--code-color);
}