:root {
  --borders: 0.5rem;
  --bg01: #171f55;
  --second-color: #facd60;
  --section-margin-pattern: 1rem auto 1rem auto;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: #171c38;
  color: #eee;
  font-size: 1.8rem;
}

header.header {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg01);
  border-radius: var(--borders);
}

header > h1 {
  margin: 1rem auto
}

header > p {
  margin: 1rem;
}

header a {
  text-decoration: none;
  color: var(--second-color);
}

a:hover {
  opacity: .85;
}

a:active {
  opacity: .55;
}

hr {
  border: .3rem solid #efe;
  border-left: 0;
  border-right: 0;
  width: 90%;
  margin: 0 auto;
  border-radius: var(--borders);
}

section.section-01 {
  background-color: var(--bg01);
  border-radius: var(--borders);
  margin: var(--section-margin-pattern);
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section h2 {
  text-align: center;
}


li.list-items {
  list-style: none;
}